$primary-font-size: 12px;
$primary-background-color: white;

body {
	font-size: $primary-font-size;
	background-color: $primary-background-color;
}

.container { height: 100vh; }
.clearfix { clear: both; height: 25px; }

.progress { 
	height: 20px;
	width: 75vh;
	margin-bottom: 10px;

	.progress-bar {  
		height: 20px; 
		-webkit-transition: width 0.5s;
		transition: width 0.5s; }}

.mdb-select { 
	background: none;
	border: none;
	margin: 15px; }

#contents-btn { display: inline-flex; }